@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var nodeLang = Model.Content.Name;
    if (nodeLang == null || nodeLang == string.Empty)
    {
        nodeLang = "En";
    }

    var stores = Model.Content.Site().Children();
    var home = (ContentModels.Home)stores.Where(x => x.ContentType.Alias == "home").FirstOrDefault();
    var isInfo = home == null ? false : home.Children().Where(x => x.ContentType.Alias =="info").Any();
    var storesList = stores.Where(x => x.ContentType.Alias == "store").Select(x=> (ContentModels.Store)x).ToList();
}

<nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
    <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/@nodeLang">

                @{
                    var darklogo = Umbraco.Media(1157).UmbracoFile;
                    var brightlogo = Umbraco.Media(1154).UmbracoFile;
                }
                <img src="@brightlogo" class="logo logo-display m-top-10" alt="">
                <img src="@darklogo" class="logo logo-scrolled" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="#home" class="nav-item">@Umbraco.GetDictionaryValue("Home")</a></li>
                @if (isInfo)
                {
                <li><a href="#info" class="nav-item">@Umbraco.GetDictionaryValue("Info")</a></li>
                }
                @if (storesList != null && storesList.Count > 0)
                {
                    foreach (ContentModels.Store store in storesList)
                    {
                        var forsale = store.Children.FirstOrDefault(x => x.ContentType.Alias == "storeForSale");
                        var forsalelink = forsale == null ? null : forsale.Url;
                        var sold = store.Children.FirstOrDefault(x => x.ContentType.Alias == "storeSold");
                        var soldlink = sold == null ? null : sold.Url;
                        if (forsalelink != null && soldlink != null)
                        {
                        <li class="dropdown">
                            <span class="dropdown-toggle nav-item">@store.StoreNav</span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@forsalelink">@Umbraco.GetDictionaryValue("Te koop")</a>
                                </li>
                                <li>
                                    <a href="@soldlink">@Umbraco.GetDictionaryValue("Verkocht")</a>
                                </li>
                            </ul>
                        </li>
                        }
                        else if (forsalelink != null)
                        {
                            <li>
                                <a href="@forsalelink" class="nav-item">@store.StoreNav</a>
                            </li>
                        }
                        else if (soldlink != null)
                        {
                            <li>
                                <a href="@soldlink" class="nav-item">@store.StoreNav</a>
                            </li>
                        }
                    }
                }

                <li>
                    <a href="/@nodeLang/parts" class="nav-item">@Umbraco.GetDictionaryValue("Onderdelen")</a>
                </li>
                <li><a href="#contact" class="nav-item">@Umbraco.GetDictionaryValue("Contact")</a></li>
                <li class="dropdown">
                    <span class="dropdown-toggle nav-item">@Umbraco.GetDictionaryValue("Kies taal")</span>
                    @{
                        var belgiumflag = Umbraco.Media(1148).UmbracoFile;
                        var netherlandflag = Umbraco.Media(1150).UmbracoFile;
                        var frenceflag = Umbraco.Media(1149).UmbracoFile;
                        var britishflag = Umbraco.Media(1151).UmbracoFile;
                        var usflag = Umbraco.Media(1152).UmbracoFile;
                    }
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/nl" class="languageNav">
                                <div class="divleft">
                                    <img src="@netherlandflag" class="cart-thumb" alt="" />
                                    <img src="@belgiumflag" class="cart-thumb" alt="" />
                                </div>
                                <div class="divright">
                                    Nederlands
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/fr" class="languageNav">
                                <div class="divleft">
                                    <img src="@frenceflag" class="cart-thumb" alt="" />
                                    <img src="@belgiumflag" class="cart-thumb" alt="" />
                                </div>
                                <div class="divright">
                                    Francais
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/en" class="languageNav">
                                <div class="divleft">
                                    <img src="@britishflag" class="cart-thumb" alt="" />
                                    <img src="@usflag" class="cart-thumb" alt="" />
                                </div>
                                <div class="divright">
                                    English
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>