@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Brommers>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Linq;
@{
    Layout = "BasepageSmallBannerNavbarSecond.cshtml";

    //var nodeLang = Model.Content.Parent.Parent.Name;
    var forSaleList = Umbraco.AssignedContentItem.Children;
    List<ContentModels.Brommer> brommers = null;
    if (forSaleList != null)
    {
        brommers = forSaleList.Select(x => (ContentModels.Brommer)x).ToList();
        brommers = brommers.Where(brom => !brom.Verkocht).ToList();
    }
}

<!--for sale Section-->
<section id="blog" class="blog">
    <!--container Section-->
    <div class="container">
        <!--row Section-->
        <div class="row">
            <div class="main_blog text-center roomy-100">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="head_title text-center">
                        <h2>@Umbraco.GetDictionaryValue("Brommers te koop")</h2>
                        <div class="separator_auto"></div>
                        <p>@Umbraco.GetDictionaryValue("Brommers te koop intro tekst")</p>
                    </div>
                </div>
                @if (brommers != null && brommers.Count > 0)
                {
                    foreach (ContentModels.Brommer brommer in brommers)
                    {
                        <a href="@brommer.Url">
                            <div class="col-md-4">
                                <div class="blog_item m-top-20">
                                    <div class="blog_item_img">
                                        @{
                                            var mediaItem = Umbraco.Media(brommer.PrimaireFoto.Id);
                                            var file = mediaItem.UmbracoFile;
                                        }
                                        <img src="@file" alt="" />
                                    </div>
                                    <div class="blog_text roomy-40">
                                        <h6>@brommer.Fabrikant @brommer.Model</h6>
                                        <p><em><a href="">@brommer.Bouwjaar</a> / @brommer.ExtraTekst</em></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                     }
                 }
                 else
                 {
                     <div class="col-sm-8 col-sm-offset-2">
                         <div class="head_title text-center">
                             <h2>@Umbraco.GetDictionaryValue("Geen brommers te koop")</h2>
                         </div>
                     </div>
                 }
            </div>
        </div><!--End off row -->
    </div><!--End off container -->
</section><!-- End off forsale section-->
