@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Linq;
@{
	Layout = null;

    var nodeLang = Model.Content.Parent.Parent.Name;

    var item = Umbraco.TypedContentAtRoot().First().Children;
    var forSaleList = item.Where(x => x.DocumentTypeAlias.Equals("parts")).First().Children;
    List<ContentModels.Part>
    parts = null;
    if (forSaleList != null)
    {
    var temp = forSaleList.Where(x => x.DocumentTypeAlias.Equals("partsSub")).First().Children;
    parts = temp.Select(x => (ContentModels.Part)x).ToList();
    }
    }


    <!--parts Section-->
    <section class="parts lightbg">
        <div class="container">
            <div class="row">
                <div class="main_parts roomy-100">
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="head_title text-center">
                            <h2>OUR PARTS</h2>
                            <div class="separator_auto"></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt tation ullamcorper
                                suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>  
                    @if (parts != null && parts.Count > 0)
                    {
                    foreach (ContentModels.Part part in parts)
                    {
                    <div class="col-md-4 col-sm-12">
                        <div class="parts_item">
                            <div class="parts_head p-top-30 p-bottom-20 text-center">
                                <h3 class="text-uppercase">@part.PartNameEn</h3>
                            </div>

                            @{
                            var mediaItem = Umbraco.Media(part.PartPicture.Id);
                            var file = mediaItem.UmbracoFile;
                            }

                            <div class="parts_part_border">
                                <p class="text-center">
                                    <img src="@file" alt="" />
                                </p>
                            </div>

                            <div class="parts_body">
                                <p>@*<i class="fa fa-check-circle text-primary"></i>*@ <span>@Umbraco.Truncate(@part.PartDescriptionEn,120)</span> </p>
                                <div class="parts_btn text-center">
                                    <a href="" class="btn btn-primary">Order</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off col-md-4 -->
                    }
                    }
                    else
                    {
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="head_title text-center">
                            <h2>@Umbraco.GetDictionaryValue("Geen brommers te koop")</h2>
                        </div>
                    </div>
                    }

                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off parts section -->



