@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Part>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using VintageWheels.Models
@{
    Layout = "BasepageSmallBannerNavbarSecond.cshtml";
    var part = (ContentModels.Part)Umbraco.AssignedContentItem;
}

<div class="container">
    <!--row Section-->
    <div class="row">
        <div class="main_blog text-center roomy-100">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="head_title text-center">
                    <h2>@part.Name</h2>
                    <div class="separator_auto"></div>
                    <p>@part.PartDescription</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-md-4">
                    <div class="portfolio_item">
                        @{
                            var mediaItem = Umbraco.Media(part.PartPicture.Id);
                            var file = mediaItem.UmbracoFile;
                        }
                        <img src="@file" alt="" />
                        <div class="portfolio_hover text-center">
                            <h6 class="text-uppercase text-white"></h6>
                            <p class=" text-white"></p>
                            <div class="portfolio_hover_icon">
                                <a href="@file" class="popup-img"><i class="fa fa-expand"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @if (part.MorePartPictures != null)
                {
                    foreach (var item in part.MorePartPictures)
                    {
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                @{
                                    var mediaItem2 = Umbraco.Media(item.Id);
                                    var file2 = mediaItem2.UmbracoFile;
                                }
                                <img src="@file2" alt="" />
                                <div class="portfolio_hover text-center">
                                    <div class="portfolio_hover_icon">
                                        <a href="@file2" class="popup-img"><i class="fa fa-expand"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                        }
                                    }
            </div>

            @*<div class="col-md-6 col-sm-12">
                <p>@brommer.ExtraTekst</p>
                <p>@brommer.Prijs EUR</p>
            </div>*@
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 sm-m-top-30">
            <div class="about_accordion wow fadeIn">
                <div id="faq_main_content" class="faq_main_content">
                    <h6><i class="fa fa-angle-right"></i> CONTACT US </h6>
                    <div>
                        <div class="content bg-mega">
                            <p>
                                @Html.Partial("ContactView", new ContactFormViewModel(@part.Name.ToString()))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
