@using ContentModels = Umbraco.Web.PublishedContentModels;
@using VintageWheels.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Store.cshtml";
    var page = CurrentPage;
    var item = (ContentModels.StoreItem)Umbraco.AssignedContentItem;
}

<section id="home" class="home2 bg-mega">
    @*<section id="home" class="home2 bg-mega" style="background-image: url(@bannerUrl);">*@
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home2">
                <div class="home2_text">
                    <h1 class="text-white">@item.Merk - @item.Model</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!--container Section-->
<div class="container">
    <!--row Section-->
    <div class="row">
        <div class="main_blog text-center roomy-100">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="head_title text-center">
                    <h2>@item.Model - @item.Bouwjaar</h2>
                    <div class="separator_auto"></div>
                    <div>
                        <p>@item.Prijs EUR</p>
                        <p>@item.ExtraTekst</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <div class="col-md-4">
                        <div class="portfolio_item">
                            @{
                                var mediaItem = Umbraco.Media(item.PrimaireFoto.Id);
                                var file = mediaItem.UmbracoFile;
                            }
                            <img src="@file" alt="" />
                            <div class="portfolio_hover text-center">
                                <h6 class="text-uppercase text-white"></h6>
                                <p class=" text-white"></p>
                                <div class="portfolio_hover_icon">
                                    <a href="@file" class="popup-img"><i class="fa fa-expand"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (item.AndereFotos != null)
                    {
                        foreach (var foto in item.AndereFotos)
                        {
                            <div class="col-md-4">
                                <div class="portfolio_item">
                                    @{
                                        var mediaItem2 = Umbraco.Media(foto.Id);
                                        var file2 = mediaItem2.UmbracoFile;
                                    }
                                    <img src="@file2" alt="" />
                                    <div class="portfolio_hover text-center">
                                        <div class="portfolio_hover_icon">
                                            <a href="@file2" class="popup-img"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            }
                                        }
                    @if (item.Video != null)
                    {
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="@file" alt="" />
                                <div class="portfolio_hover text-center">
                                    <div class="portfolio_hover_icon">
                                        <a href="@item.Video" class="video-link"><i class="fa fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 sm-m-top-30">
            <div class="about_accordion wow fadeIn">
                <div id="faq_main_content" class="faq_main_content bg-greyout">
                    <h6 class="bg-vintage"><i class="fa fa-angle-right"></i> <strong> @Umbraco.GetDictionaryValue("Contact us") </strong> </h6>
                    <div>
                        <div class="content bg-mega">
                            <p>
                                @{ var subject = item.Merk + " - " + item.Model + " - " + @item.Bouwjaar; }
                                @Html.Partial("ContactView", new ContactFormViewModel(@subject))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
